.calculator:hover {
    border : 2px solid blue !important;
    cursor: pointer;
}

.calculator-input .input-wrapper {
    padding: 0px;
    background: #fff;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.calculator-input .input-wrapper .input {
    height: 50px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.calculator-input .input-wrapper .input input , select{

    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid #e6ecf5;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
}

.calculator-input .input-wrapper .input input:focus, select:focus {
    padding-left: 20px;
    border: 1px solid #0EB8D9;
}